# Ignore everything except the files I want
# Since this will reside in the home directory\
/*
/*/

!.gitignore
!.bash_aliases
!.tmux.conf
!.vimrc
!/.vim/
!dependencies

!/.config/
.config/*
!/.config/Code/
.config/Code/*
!/.config/Code/User
.config/Code/User/*
!/.config/Code/User/keybindings.json
