# Ignore everything except the files I want
# Since this will reside in the home directory\
/*
/*/

!.gitignore
!.bash_aliases
!.tmux.conf
!.vimrc
!.vim/
.vim/plugged
.vim/.*
!install.sh
!.zshrc
!.zshenv
!.p10k.zsh
!.ctags
!.config/
.config/*
!.config/nvim/
!.config/ranger/
!.config/rofi/
!.config/alacritty/
!.config/git/
